---
layout: landing
---
  <div class="landing-photo" style="background-image: url('{{ "/img/photos/ns.BOB.Paolo.picC.AW.jpg" | prepend: site.baseurl}}');">
  </div>
  <div class="landing">
    <div class="top">

      <span class="share">
        <a href="http://www.facebook.com/sharer.php?u={{ site.baseurl | prepend: site.url }}"><i class="fa fa-facebook"></i></a>
        <a href="http://twitter.com/share"><i class="fa fa-twitter"></i></a>
        <a href="http://www.reddit.com/submit?url={{ site.baseurl | prepend: site.url }}"><i class="fa fa-reddit"></i></a>
      </span>

      <p class="bob">A <a href="http://rememberingbridget.com">Bridget O'Brien Foundation</a> and <a href="http://dailybruin.com">Daily Bruin</a> Report</p>

      <h1>{{ site.title }}</h1>

      <p class="desc">{{ site.description }}</p>
        
      <p class="author">By Natalie Delgadillo, Ryan Nelson and Angie Wang</p>

      <p class="down"><a href="#toc"><i class="fa fa-angle-down"></i></a></p>
    </div>
    
    <div id="toc" class="toc">  
      <ul id="post-menu">
        {% for chapter in (1...3) %}
          <p class="chapter">Chapter {{ chapter }}</p>
          {% for post in site.posts reversed %}
            {% if post.chapter == chapter and post.id != page.id and (post.type == 'main' or post.type == 'column') %}
            
            <a {% if post.publish == true %} href="{{ post.url | prepend: site.baseurl }}" class="publish" {% endif %}>
              <li class="{{ post.type }}">
                <div class="featured-image" style="background-image: url('{{post.featured-image | prepend: site.baseurl}}')">
                  <div class="featured-overlay"></div>
                </div>
                <div class="featured-text">
                  <h1>{{ post.title }}</h1>
                  <p>{{ post.description }}</p>
                </div>
                {% if post.publish == false %}
                <div class="future">
                  <h1>Publishing on {{ post.date | date: '%B %d' }}</h1>
                </div>
                {% endif %}
              </li>  
            </a>
            
            {% endif %}  
          {% endfor %}  
        {% endfor %}
        <hr/>
        <a href="{{ "/about" | prepend: site.baseurl }}" class="publish">
          <li class="page">
              <h1>About the project</h1>
              <p>Learn about the project and the foundation that funded the reporting.</p>
          </li>
        </a>
        <hr/>
        <a href="{{ "/print" | | prepend: site.baseurl }}" class="publish">
          <li class="page">
              <h1>Print version</h1>
          </li>
        </a>
      </ul>  
    </div>
  </div>
  
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-28181852-22', 'auto');
  ga('send', 'pageview');

</script>
