<header class="{{ page.type }}">
  <span class="db"><a href="http://dailybruin.com">DB</a></span>
  {% if page.title %}
  <p class="title"><a onclick="$('nav.posts').height($('nav.posts').height() == 0 ? $('nav.posts ul').height()+20 : 0);">
    Chapter {{ page.chapter }}: {{ page.title }} <i class="fa fa-angle-down"></i>
  </a></p>

  {% endif %}
  <span class="share">
    <a href="http://www.facebook.com/sharer.php?u={{ site.url }}"><i class="fa fa-facebook"></i></a>
    <a href="http://twitter.com/share"><i class="fa fa-twitter"></i></a>
    <a href="http://www.reddit.com/submit?url={{ site.url }}"><i class="fa fa-reddit"></i></a>
  </span>
</header>

<nav class="posts {{ page.type }}" id="drop">
  <ul>
    <hr/>
    {% for post in site.posts reversed %}
    {% if post.id != page.id %}
    <li class="{{ post.type }}">
      <a href="{{ post.url }}">
        Chapter {{ post.chapter }}: {{ post.title }}
      </a>
    </li>  
    {% endif %}  
    {% endfor %}  
    <hr/>
    <li class="page"><a href="">About the project</a></li>
    <li class="page"><a href="">Print version</a></li>
  </ul>
</nav>
