<header class="{{ page.type }}">
  <p class="title">
    <a id="post-menu-trigger" onclick="$('nav.posts').height($('nav.posts').height() == 0 ? $('nav.posts ul').height()+20 : 0);">
    {% if page.chapter %}Chapter {{ page.chapter }}: {% endif %}{{ page.title }} <i class="fa fa-angle-down"></i>
    </a>
  </p>
</header>

<nav class="posts {{ page.type }}" id="drop">
  <ul id="post-menu">
    {% for chapter in (1...2) %}
      <label class="chapter">Chapter {{ chapter }}</label>
      {% for post in site.posts reversed %}
        {% if post.chapter == chapter and (post.type == 'main' or post.type == 'column') %}
        <li class="{{ post.type }}">
          <a href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }} 
          </a>
        </li>  
        {% endif %}  
      {% endfor %}  
    {% endfor %}
    <label>Chapter 3 publishing Nov 11</label>
    <hr/>
    <li class="page"><a href="{{ "/" | | prepend: site.baseurl }}">{{ site.title }}</a></li>
    <li class="page"><a href="{{ "/about" | | prepend: site.baseurl }}">About the project</a></li>
    <li class="page"><a href="{{ "/print" | | prepend: site.baseurl }}">Print version</a></li>
  </ul>
</nav>
