<header>
  <span class="db"><a href="http://dailybruin.com">DB</a></span>
  {% if page.title %}
      <p class="title">
        <a href="">
          {% if page.chapter %}Chapter {{ page.chapter }}:{% endif %}
          {{ page.title }}
          <i class="fa fa-angle-down"></i>
        </a>
      </p>
  {% endif %}
  <span class="title"></span>
  <span class="share">
    <a href="http://www.facebook.com/sharer.php?u={{ site.url }}"><i class="fa fa-facebook"></i></a>
    <a href="http://twitter.com/share?url={{ site.url }}"><i class="fa fa-twitter"></i></a>
    <a href=""><i class="fa fa-reddit"></i></a>
  </span>
</header>
