header {
  position: fixed;
  top: 0;
  height: 45px;
  width: 100%;
  color: #fdfdfd;
  font-size: 1.3rem;
  line-height: 2;
  padding: 0.2rem;
  &.column { background: transparentize($brand-color, 0.05); }
  &.main { background: transparentize($brand-off-color, 0.05); }
  
  nav.posts {
    text-align: center;
    ul { list-style-type: none; }
    a { color: #fdfdfd; }
  }
  
  p.title {
      text-align: center;
      a { 
        margin-right:1rem;
        color: #fdfdfd; 
      }
  }
  
  span.db {
    position: absolute;
    top: 3px;
    left: 15px;
    border: thin solid #fdfdfd;
    border-radius: 100px;
    padding: 0 0.5rem;
  }
  
  span.db a,
  span.share a { 
    color: #fdfdfd; 
  }
  
  span.share {
    position: absolute;
    top: 5px;
    right: 5px;
    a { margin-right:1rem; }
  }
}

.column h1,
li.column {
  font-style: italic;
}

section.featured-image {
  width: 100%;
  height: 100vh;
  color: #fdfdfd;
  position: absolute;
  top: 0;
  background-color: $background-color;
  background-size: cover;
  background-position: top center;
  
  div.featured-text {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0; 
    padding-top: 20vh;
    text-align: center;
    
    &.column { background: transparentize($brand-color, 0.55); }
    &.main { background: transparentize($brand-off-color, 0.55); }
    
    h1 {
      font-size: 7rem;
      font-weight: 900;
      text-transform: uppercase;
      font-family: Arial, sans-serif;
      letter-spacing: -4px;
      color: #fdfdfd;
    }
    
    .chapter {
      font-size: 2rem;
    }
    
    i {
      font-size: 5rem;
      margin-top: 3rem;
      color: #fdfdfd;
    }
    
    p.byline {
      font-weight: 500;
      font-size: 1.5rem;
    }
  }
  
}

nav.anchorific {
  position: fixed;
  top: 30%;
  right: 1rem;
  text-align: right;
  font-family: $base-sans-font-family;
  
  &.main li a, 
  &.column li.active a { 
    color: $brand-color; 
    background-color: $brand-color; 
    &:hover { background-color: $background-color; }
  }
  &.column li a, &.main li.active a { 
    color: $brand-off-color; 
    background-color: $brand-off-color; 
    &:hover { background-color: $background-color; }
  }
  
  
  ul { 
    list-style-type: none; 
    li a{
      padding-left: 1rem;
      line-height: 1.2;
      font-size: 0.85rem;
      clear: both;
      float: right;  
      margin: 0.2rem;
    }
  }
  @include media-query($on-laptop) {
      display: none;
  }
}

article {
  max-width: 600px;
  margin: 3rem auto;
  margin-top: 100vh;
  padding-top: 0px;
  padding-left: 200px;
  line-height: 2;
  
  figure {
    float: left;
    margin: 1rem;
    margin-left: -200px;
    width: 100%;
    display: inline-block;
    
    figcaption {
      color: grey;
      font-size: 0.85rem;
    }
  }
  
  p.sidenote {
    width: 150px;
    margin-top: 50px;
    margin-left: -180px;
    float: left;
    text-align: right;
    font-size: 0.85rem;
    line-height: 1.5;
    font-family: Arial, sans-serif;
  }
  
  h1.title {
    visibility: hidden;
  }
}

div.landing {
    text-align: center;
    max-width: 800px;
    margin: auto;
    margin-top: 23vh;
    
    h1 {
      font-size: 5.5rem;
      font-weight: 900;
    }
    
    .bob {
      font-size: 0.95rem;
    }
    
    span.db,
    span.share {
      position: absolute;
      top: 1rem;
    }
    
    span.db {
      left: 2.5rem;
    }
    
    span.share {
      right: 2.5rem;
      
      i { margin-left: 0.35rem; }
    }
    
    p {
      margin: 1.5rem;
    }
    
    p.more a {
      display: inline-block;
      border: thin solid $brand-color;
      width: auto;
      padding: 0.5rem 1rem;
      margin: 1.2rem;
    }
    
    p.more:hover a {
      background-color: $brand-color;
      color: white;
      text-decoration: none;
    }
}

footer {
  max-width: 650px;
  margin: auto;
  font-size: 0.75rem;
  text-align: center;
}
