header {
  position: fixed;
  top: 0;
  height: 45px;
  width: 100%;
  color: #fdfdfd;
  font-size: 1.1rem;
  line-height: 2.4;
  padding: 0.2rem;
  z-index: 2;
  background: transparentize($brand-off-color, 0.05);
  
  &.column { background: transparentize($brand-color, 0.05); }
  
  a:hover {
      border-bottom: $background-color 0.2rem solid;
      cursor: pointer;
  }
  
  p.title {
    text-align: center;
    margin: 0;
    a { color: #fdfdfd; }
  }
  
  span.db {
    position: absolute;
    top: 3px;
    left: 24px;
    border: thin solid #fdfdfd;
    border-radius: 100px;
    padding: 0 0.6rem;
  }
  
  span.db,
  span.share {
    a { color: #fdfdfd; }
    @include media-query($on-mobile) {
        display: none;
    }
  }
  
  span.share {
    position: absolute;
    top: 5px;
    right: 5px;
    a { margin-right:1rem; }
  }
}

div#overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: transparentize($background-color, 0.3);
  transition: opacity 1s ease;
  &.show {
    visibility: visible;
    opacity: 1;
  }
}

nav.posts {
  position: fixed;
  width: 100%;
  top: 46px;
  text-align: center;
  transition: height 0.5s; 
  height: 0;
  overflow: hidden;
  z-index: 1;
  
  hr { 
    border: none;
    border-top: white thin solid;
    margin: 0.25rem 0;
  }
  
  label {
    color: $background-color;
    font-family: $base-sans-font-family;
    font-size: 0.85rem;
    line-height: 1;
    border-bottom: thin lightgrey solid;
    padding-bottom: 0.3rem;
    // text-transform: uppercase;
  }
  
  &.column ul { background: transparentize($brand-color, 0.05); }
  ul { background: transparentize($brand-off-color, 0.05); }
  
  ul { 
    display: inline-block;
    border-radius: 0 0 2px 2px;
    margin: 5.2px 0;
    padding: 0rem 6rem 0.5rem;
    list-style-type: none; 
    width: auto;
    line-height: 1.5;
    font-size: 1rem;
    
    li {
      margin: 0.5rem;
      letter-spacing: 0.5px;
      &.page {
        font-size: 0.85rem; line-height: 1.2;
      }
    }
  }
  a { color: #fdfdfd; &:hover { border-bottom: $background-color 0.2rem solid; } }
  
  @include media-query($on-palm) {
    ul {
      padding: 0px;
      width: 100%;
    }
    hr {
      width: 80%;
      margin: auto;
    }
  }
}

.column h1,
li.column {
  font-style: italic;
}

section.featured-image {
  width: 100%;
  height: 100vh;
  color: #fdfdfd;
  position: absolute;
  top: 0;
  background-color: $background-color;
  background-size: cover;
  background-position: top center;
  z-index: 3;
  overflow: hidden;
  
  div.featured-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    padding: 1rem 5rem 3rem 3rem;
    background: transparent linear-gradient(to bottom, transparent 0px, rgba(0, 0, 0, 0.15) 15%, rgba(0, 0, 0, 0.2) 33%) repeat scroll 0% 0%;
    text-shadow: 0em 0em 0.15em rgba(0, 0, 0, 0.25);
    
    a {
      color: white;
      border-bottom: medium solid #e88a5a;
      
      &:hover {
        color: #e88a5a;
      }
    }
    
    p, span { 
      font-family: $base-serif-font-family; 
      font-size: 1.3rem;
      max-width: 750px;
    }
    
    h1 {
      line-height: 1.2;
      width: 100%;
      font-size: 4.5rem;
      font-weight: 900;
      color: #fdfdfd;
      font-family: $base-serif-font-family;
    }
    
    span.chapter {
      display: block;
      width: 100%;      
    }
    
    a.down p {
      text-align: center;
      width: 100%;
      margin: 0;
      font-size: 5rem;
      color: #fdfdfd;
      line-height: 0;
    }
    
    p.date {
      display: block;
      position: absolute;
      text-align: center;
      width: 100%;
      bottom: 6rem;
      left: 0;
    }

    @include media-query(700px) {
        p, span { font-size: 1.1rem; }
        h1 { font-size: 3.5rem; }
    }
    
    @include media-query($on-mobile) {
      bottom: 0;
      padding: 1rem;
      padding-bottom: 2rem;
    }
  }
  
}

div.sub-nav {
  position: fixed;
  top: 30%;
  right: 1rem;
  text-align: right;
  font-family: $base-sans-font-family;
  
  span.share {
    margin-right: 0.25rem;
    font-size: 1.3rem;
    
    a {
      padding-left: 0.5rem;
    }
  }
  
  nav.anchorific {
    overflow: hidden;
    margin-bottom: 0.5rem;
    
    li > ul {
      display: none;
    }
    
    li.active > ul {
      display: block;
    }
    
    &.main li a, 
    &.column li.active a { 
      color: $brand-color; 
      background-color: $brand-color; 
      &:hover { 
        background-color: $background-color; 
        border-bottom: none;
        padding-right: 0.25rem;
        border-right: lighten($brand-color, 10%) 3px solid;
        font-weight: bold;
      }
    }
    &.column li a, &.main li.active a { 
      color: $brand-off-color; 
      background-color: $brand-off-color; 
      &:hover { 
        background-color: $background-color;
        border-bottom: none;
        border-right: lighten($brand-off-color, 10%) 3px solid;
       }
    }
    
    ul { 
      list-style-type: none; 
      li a{
        transition: 0.1s all ease;
        padding-left: 1rem;
        line-height: 1.2;
        font-size: 0.85rem;
        clear: both;
        float: right;  
        margin: 0.2rem;
      }
    }
  }
  @include media-query($on-laptop) {
      display: none;
  }
}

div#timeline {
  position: fixed;
  left: 0;
  margin: 2rem 2rem;
  margin-top: 100vh;
  font-size: 0.9rem;
  overflow: auto;
  
  &.page { top: 75px; }
  
  &.hide { z-index: -1; }

  circle {
    fill: $background-color;
    stroke-width: 2;
    stroke: #555;
    transition: 0.5s all;
    &.hover {
      stroke-width: 3;
      cursor: default;
    }
  }
  text:hover { 
    cursor: default; 
    &.attr { cursor: default; }
   }
  text.date {
    font-family: $base-sans-font-family;
    font-size: 0.75rem;
  }
  text.title {
  }
  text.description {
    font-size: 0.75rem;
    font-family: $base-sans-font-family;
    
    tspan {
      transition: all 1s;
      visibility: hidden;
      fill: white;
      &:nth-child(1) { fill: #222; visibility: visible; }
      &:nth-child(2) { fill: #555; visibility: visible; }
      &:nth-child(3) { fill: #AAA; visibility: visible; }
    }
    &:hover tspan{
      fill: #222;
      visibility: visible;
    }
  }
  text.attr {
    font-size: 0.75rem;
    font-family: $base-sans-font-family;
  }
  text.tag {
    font-family: $base-sans-font-family;
    font-size: 0.75rem;
  }
  
  @include media-query($on-laptop) {
    display: none;
      visibility: hidden !important;
  }
}

div#flowchart {
  position: absolute;
  top: 100vh;
  right: 0;
  margin: 2rem 2rem;
  font-size: 0.9rem;
  
  &.page { top: 75px; }
  
  &.hide { z-index: -1; }

  circle {
    fill: $background-color;
    stroke-width: 2;
    stroke: #777;
    transition: 0.5s all;
    &.hover {
      stroke-width: 5;
      cursor: pointer;
    }
  }
  text:hover { 
    cursor: pointer; 
    &.attr { cursor: default; }
   }
  text.date {
    font-family: $base-sans-font-family;
    font-size: 0.75rem;
  }
  text.title {
  }
  text.description {
    font-size: 0.75rem;
    font-family: $base-sans-font-family;
    
    tspan {
      transition: all 1s;
      opacity: 0.2;
    }
    &.show tspan { 
      opacity: 1; 
    }
    &:hover tspan{
      opacity: 1; 
    }
  }
  text.attr {
    font-size: 0.75rem;
    font-family: $base-sans-font-family;
  }
  
  @include media-query($on-laptop) {
      visibility: hidden !important;
  }
}

figure.viz {
    p {
      font-family: $base-sans-font-family;
      
      &.title {
        font-weight: bold;
        font-size: 1.2rem;
      }
      &.source {
        font-size: 0.75rem;
        text-align: right;
        padding-right: 1rem;
      }
    }

    text {
      font-family: $base-sans-font-family;
      
      &.abbr {
        font-size: 1rem;
        font-weight: bold;
      }
      
      &.more {
        font-size: 0.9rem;
        font-weight: 100;
      }
      
      &.next {
        &:hover { cursor: pointer; }
      }
    }
    
    .legend {
      text {
        font-size: 0.75rem;
      }
    }

    circle {
      &.hover { stroke: grey; stroke-width: 2; }
      &.non { fill: lightgrey; }
    }
    
    &:hover { cursor: default; }
    
    @include media-query($on-mobile) {
        display: none;
    }
}

article{
  max-width: 600px;
  margin: 3rem auto;
  padding-top: 0px;
  line-height: 2;
  
  div.editorsnote {
    font-family: $base-sans-font-family;
    font-size: 0.8rem;
    line-height: 1.3;
    margin-left: -200px;
    margin-bottom: 2rem;
    padding: 1rem 1rem 1.5rem;
    background-color: #EEE;
    
    p.title { 
      text-align: center; 
      font-size: 1rem;
      font-weight: bold;
    }
    
    div.editorstext {
      -webkit-columns: 300px 2;
         -moz-columns: 300px 2;
              columns: 300px 2;
      width: 100%;
    }
    
    @include media-query($on-palm) {
      -webkit-columns: none;
         -moz-columns: none;
              columns: none;
      margin-left: 0px;
    }
  }
  
  p.featured-caption {
    padding-top: 0.5rem;
    margin-left: -200px;
    line-height: 1.2;
    font-size: 0.85rem;
    text-align: right;
    font-family: $base-sans-font-family;
    max-width: 800px;
    
    @include media-query($on-palm) {
      margin-left: 0px;
    }
  }
  
  h1#start {
    height: 1rem;
    overflow: hidden;
  }
  
  &.post { 
    margin-top: 100vh; 
    padding-left: 200px;
  }
  
  &.page {
    margin-top: 75px;
    
    h1 {
      text-align: center;
      margin-bottom: 0.5rem;
    }
    
    p.desc {
      text-align: center;
      font-size: 0.85rem;
    }
    
    figure {
      float: none;
      margin: auto;
    }
  }
  
  figure {
    float: left;
    clear: left;
    margin: 1rem;
    margin-left: -200px;
    max-width: 550px;
    display: inline-block;
    
    img {
      max-height: 600px;
    }
    
    &.wide {
      max-width: none;
      max-height: none;
    }
    
    &.sidebar {
      float: right;
      margin-left: 1rem;
      max-width: 400px;
      border-top: medium lightgrey solid;
      border-bottom: medium lightgrey solid;
      padding: 1rem;
      cursor: pointer;
      transition: all 0.2s ease;
      max-height: 500px;
      overflow-y: auto;
      
      img {
        max-height: 240px;
      }
      h2 { margin: 0; }
      
      figcaption {
        color: #222;
        font-size: 0.85rem;
        a { font-weight: bold; }
        &.less { 
          font-size: 0.9rem; 
          color: grey; 
          line-height: 1.5;
          font-style: italic;
          font-family: $base-sans-font-family;
        }
      }
      
      section.sidebar {
        position: fixed;
        top: 50px;
        right: -750px;
        max-width: 650px;
        padding: 10px 50px;
        transition: 1s all ease;
        background: #eee;
        
        div.sidebar-content {
          position: relative;
          height: 95vh;
          padding: 50px 20px;
          padding-left: 0px;
          overflow: auto;
        }
        
        img.featured-image { 
          width: 100%; 
          text-align: center; 
          max-height: 400px;
        }
        
        p.title { 
          font-family: $base-sans-font-family;
          font-weight: bold;
          font-size: 1.75rem;
          margin-bottom: 0.5rem; 
        }
        p.byline {
          font-size: 0.9rem;
          line-height: 1;
          text-align: right;
        }
        
        p:last-child {
          padding-bottom: 100px;
        }
        
        &.show { 
          right: 0px;
        }
        
        figure {
          float: left;
          margin: 1rem;
          margin-left: 0;
          max-width: 300px;
          display: inline-block;
          img {
            max-height: 600px;
          }
          figcaption {
            font-size: 0.85rem;
            font-family: $base-sans-font-family;
          }
        }
      }
      
      &:hover {
        border-top: 0.5rem solid grey;
      }
      
    }
    
    &.right {
      margin-left: 1rem;
      display: inline-block;
      float: right;
    }
    
    figcaption {
      color: grey;
      font-size: 0.85rem;
      font-family: $base-sans-font-family;
    }
  }
  
  p.sidenote {
    width: 150px;
    margin-top: 50px;
    margin-left: -180px;
    float: left;
    clear: left;
    text-align: right;
    font-size: 0.85rem;
    line-height: 1.5;
    font-family: $base-sans-font-family;
  }
  
  h1.title {
    visibility: hidden;
  }
  
  blockquote {
    float: left;
    max-width: 550px;
    margin: 2rem 4rem;
    margin-left: -200px;
    color: $grey-color-dark;
    font-family: $base-serif-font-family;
    font-weight: 700;
    border: none;
    padding-left: $spacing-unit / 2;
    font-size: 2.5rem;
    letter-spacing: -0.5px;
    line-height: 1.5;
    border-left: 4px solid $brand-color;
    
    p {
      display: block;
    }
    
    span.quoteby {
      display: block;
      width: auto;
      margin-top: 0.5rem;
      font-size: 1.2rem;
      text-align: right;
      color: $grey-color;
      font-style: italic;
      font-family: $base-sans-font-family;
    }

    > :last-child {
        margin-bottom: 0;
    }
  }
  
  @include media-query($on-palm) {
    &, &.post {
      padding: 0px 15px;
    }
    figure,
    blockquote,
    p.sidenote,
    figure.sidebar {
      float: none;
      clear: both;
      display: block;
      width: 100%;
      max-width: none;
      margin: 1rem auto;
      padding: 1rem 0;
      
      img { text-align: center; margin: auto; }
    }
    blockquote {
      width: 90%;
      padding-left: 1rem;
    }
    p.sidenote {
      margin-bottom: 2rem;
    }
  }
}

div.landing-photo {
  background-image: url("http://img.hqhdwalls.com/uploads/wallpaper/files/kit/kitten-wallpaper-53cee1ed3b06d.jpg");
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  overflow: auto;
  position: fixed;
  top:0;
  background-size: cover;
  background-position: top center;
}

div.landing {
    background-color: rgba(256,256,256,0.75);  
    position: absolute;
    width: 100%;
    top: 0;
    
    div.top {
      min-height: 100vh;
      padding-top: 20vh;
      text-align: center;
      h1 {
        font-size: 5.5rem;
        font-weight: 900;
      }
      
      .bob {
        font-size: 0.95rem;
      }
      
      span.db,
      span.share {
        position: absolute;
        top: 1rem;
      }
      
      span.db {
        left: 2.5rem;
        svg {
          width: 120px;
        }
      }
      
      span.share {
        right: 2.5rem;
        
        i { margin-left: 0.35rem; }
      }
      
      p {
        max-width: 800px;
        margin: auto;
        margin-top: 1.5rem;
        &.down {
          margin-top: 3.5rem;
        }
      }
      
      p.down a {
        border: 2px solid $brand-color;
        padding: 0 1.5rem;
        font-size: 3rem;
        line-height: 1;
      }
      
      @include media-query($on-mobile) {
        padding-top: 8vh;
        
        span.db,
        span.share {
          display: none;
        }
        h1 {
          font-size: 4rem;
        }
        p.down {
          display: none;
        }
      }
    }
    div#toc {
      max-width: 850px;
      margin: auto;
      padding: 1rem;
      color: $brand-color;
      
      ul {
        list-style-type: none;
        margin: auto;
        
        a { color: $brand-color; }
        a.publish:hover { color: black; }
        
        hr { 
          border: none;
          border-top: $brand-color thin solid; 
          width: 200px; 
          margin: auto; 
        }
        
        a li {
          opacity: 0.85;
          margin-top: 1.5rem;
          margin-bottom: 2rem;
          transition: 0.2s all;
          position: relative;
        }
        
        a.publish li {    
          opacity: 1;
          
          div.featured-image div.featured-overlay {
            background-color: transparentize($brand-color, 0.25);
          }
          
          &:hover {
            box-shadow: 10px 0px $brand-color;
            
            div.featured-image div.featured-overlay {
              background-color: transparentize($brand-color, 1);
            }
          }
        }
        
        p.chapter {
          text-align: center;
          margin-top: 3rem;
          margin-bottom: 1rem;
          font-size: 1.5rem;
          font-family: $base-sans-font-family;
        }
        
        
        div.featured-image, div.featured-text {
          display: inline-block;
        }
        
        div.featured-image {
          width: 40%;
          height: 200px;
          background-size: cover;
          vertical-align: bottom;
          background-position: top center;
          
          div.featured-overlay {
            width: 100%;
            height: 200px;
            transition: 0.2s all;
          }
        }
        
        div.featured-text {
          width: 55%;
          padding-left: 10px;
          vertical-align: baseline;
          h1 { font-family: $base-serif-font-family; }
          // p { font-family: $base-sans-font-family; }
        }
        
        li.page {
            margin-top: 1rem;
            padding-top: 1rem;
            text-align: center;
            h1 { 
              font-family: $base-sans-font-family; 
              
            }
        }
        
        div.future {
          position: absolute;
          background-color: transparentize($brand-color, 0.05);
          text-align: center;
          color: white;
          margin: 0;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          h1 { 
            margin-top: 4rem;
            font-style: normal;
            font-weight: 400;
          }
        }
        
        @include media-query($on-mobile) {
          p {
            font-size: 1rem;
          }
          div.featured-image,
          div.featured-text {
            width: 100%;
            padding: 0;
          }
          div.future h1 {
            margin-top: 7.5rem;
          }
        }
      }
    }
}

nav.next-prev {
  display: block;
  margin: 2rem;
  overflow: auto;
  
  a { 
    color: #666; 
    width: 30%;
    transition: 0.2s all;
    &:hover {
      border: none;
      color: #333;
      &.next { border-right: solid 5px $brand-color; }
      &.prev { border-left: solid 5px $brand-color; }
    }
  }
  h2 {
    font-size: 1.5rem;
    line-height: 1.2;
    font-family: $base-serif-font-family;
    margin: 0.75rem 0;
    &.column { font-style: italic; }
  }
  a.next {
    float: right;
    text-align: left;
  }
  a.prev {
    float: left;
    text-align: right;
  }
  p {
    font-size: 0.8rem;
    &.arrow {
      text-transform: uppercase;
      font-family: $base-sans-font-family;
      margin: 0;
    }
  }
  
  @include media-query($on-mobile) {
    a {
      width: 100%;
    }
  }
}

iframe.box-embed {
  width: 90%;
  min-height: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

footer {
  max-width: 650px;
  margin: auto;
  padding: 2rem 1rem;
  border-top: thin solid lightgrey;
  font-size: 0.75rem;
  text-align: center;
}
