header {
  position: fixed;
  top: 0;
  height: 45px;
  width: 100%;
  color: #fdfdfd;
  font-size: 1.1rem;
  line-height: 2.4;
  padding: 0.2rem;
  z-index: 2;
  background: transparentize($brand-off-color, 0.05);
  
  &.column { background: transparentize($brand-color, 0.05); }
  
  a:hover {
      border-bottom: $background-color 0.2rem solid;
      cursor: pointer;
  }
  
  p.title {
    text-align: center;
    margin: 0;
    a { color: #fdfdfd; }
  }
  
  span.db {
    position: absolute;
    top: 3px;
    left: 24px;
    border: thin solid #fdfdfd;
    border-radius: 100px;
    padding: 0 0.6rem;
  }
  
  span.db,
  span.share {
    a { color: #fdfdfd; }
    @include media-query($on-mobile) {
        display: none;
    }
  }
  
  span.share {
    position: absolute;
    top: 5px;
    right: 5px;
    a { margin-right:1rem; }
  }
}

div#overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: transparentize($background-color, 0.3);
  transition: opacity 1s ease;
  &.show {
    visibility: visible;
    opacity: 1;
  }
}

nav.posts {
  position: fixed;
  width: 100%;
  top: 46px;
  text-align: center;
  transition: height 1s; 
  height: 0;
  overflow: hidden;
  z-index: 1;
  
  &.column ul { background: transparentize($brand-color, 0.05); }
  ul { background: transparentize($brand-off-color, 0.05); }
  
  hr { margin: 0.25rem 0; }
  
  ul { 
    display: inline-block;
    border-radius: 0 0 2px 2px;
    margin: 5.2px 0;
    padding: 0rem 5rem 0.5rem;
    list-style-type: none; 
    width: auto;
    line-height: 2;
    
    li.page {
      line-height: 1.8;
      a { font-size: 0.95rem;  }
    }
  }
  a { color: #fdfdfd; &:hover { border-bottom: $background-color 0.2rem solid; } }
}

.column h1,
li.column {
  font-style: italic;
}

section.featured-image {
  width: 100%;
  height: 100vh;
  color: #fdfdfd;
  position: absolute;
  top: 0;
  background-color: $background-color;
  background-size: cover;
  background-position: top center;
  z-index: 3;
  
  div.featured-text {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0; 
    padding-top: 20vh;
    text-align: center;
    
    &.column { background: transparentize($brand-color, 0.55); }
    &.main { background: transparentize($brand-off-color, 0.55); }
    
    h1 {
      font-size: 7rem;
      font-weight: 900;
      text-transform: uppercase;
      font-family: Arial, sans-serif;
      letter-spacing: -4px;
      color: #fdfdfd;
    }
    
    .chapter {
      font-size: 2rem;
    }
    
    a:hover { color: lightgrey; border: none; }
    
    i {
      font-size: 5rem;
      margin-top: 3rem;
      color: #fdfdfd;
      
    }
    
    p.byline {
      font-weight: 500;
      font-size: 1.5rem;
    }
  }
  
}

nav.anchorific {
  position: fixed;
  top: 30%;
  right: 1rem;
  text-align: right;
  font-family: $base-sans-font-family;
  
  li > ul {
    display: none;
  }
  
  li.active > ul {
    display: block;
  }
  
  &.main li a, 
  &.column li.active a { 
    color: $brand-color; 
    background-color: $brand-color; 
    &:hover { 
      background-color: $background-color; 
      border-bottom: lighten($brand-color, 10%) 3px solid;
    }
  }
  &.column li a, &.main li.active a { 
    color: $brand-off-color; 
    background-color: $brand-off-color; 
    &:hover { 
      background-color: $background-color;
      border-bottom: lighten($brand-off-color, 10%) 3px solid;
     }
  }
  
  ul { 
    list-style-type: none; 
    li a{
      transition: 0.5s all ease;
      padding-left: 1rem;
      line-height: 1.2;
      font-size: 0.85rem;
      clear: both;
      float: right;  
      margin: 0.2rem;
    }
  }
  @include media-query($on-laptop) {
      display: none;
  }
}

div#timeline {
  // float: left;
  position: absolute;
  top: 100vh;
  margin: 2rem 2rem;
  font-size: 0.9rem;
  z-index: -1;

  circle {
    fill: $background-color;
    stroke-width: 2;
    stroke: #777;
    transition: 0.5s all;
    &.hover {
      stroke-width: 5;
      cursor: pointer;
    }
  }
  text:hover { 
    cursor: pointer; 
    &.attr { cursor: default; }
   }
  text.date {
    font-family: $base-sans-font-family;
    font-size: 0.75rem;
  }
  text.title {
  }
  text.description {
    font-size: 0.75rem;
    font-family: $base-sans-font-family;
    
    tspan {
      transition: all 1s;
      opacity: 0.2;
    }
    &.show tspan { 
      opacity: 1; 
    }
    &:hover tspan{
      opacity: 1; 
    }
  }
  text.attr {
    font-size: 0.75rem;
    font-family: $base-sans-font-family;
  }
  
  @include media-query($on-laptop) {
      visibility: hidden !important;
  }
}

article{
  max-width: 600px;
  margin: 3rem auto;
  padding-top: 0px;
  line-height: 2;
  
  &.post { 
    margin-top: 100vh; 
    padding-left: 200px;
  }
  
  &.page {
    margin-top: 75px;
    
    h1 {
      text-align: center;
    }
  }
  
  
  figure {
    float: left;
    margin: 1rem;
    margin-left: -200px;
    max-width: 600px;
    display: inline-block;
    
    img {
      max-height: 600px;
    }
    
    &.sidebar {
      float: right;
      margin-left: 1rem;
      max-width: 400px;
      // background-color: #EEE;
      border-top: medium lightgrey solid;
      border-bottom: medium lightgrey solid;
      padding: 1rem;
      cursor: pointer;
      transition: all 0.2s ease;
      max-height: 500px;
      overflow-y: auto;
      
      img {
        max-height: 240px;
      }
      h2 { margin: 0; }
      
      figcaption {
        color: #222;
        font-size: 0.85rem;
        a { font-weight: bold; }
        &.less { 
          font-size: 0.9rem; 
          color: grey; 
          line-height: 1.5;
          font-style: italic;
          font-family: $base-sans-font-family;
        }
      }
      
      section.sidebar {
        position: fixed;
        top: 50px;
        right: -750px;
        max-width: 650px;
        padding: 20px 50px;
        padding-bottom: 1000px;
        transition: 1s all ease;
        overflow: auto;
        height: 95vh;
        background: $brand-color;
        color: $background-color;
        
        img.featured-image { 
          width: 100%; 
          text-align: center; 
          max-height: 400px;
        }
        
        p.title { 
          font-family: $base-sans-font-family;
          font-weight: bold;
          font-size: 1.75rem;
          margin-bottom: 0.5rem; 
        }
        p.byline {
          font-size: 0.9rem;
          line-height: 1;
          text-align: right;
        }
        
        p:last-child {
          padding-bottom: 50px;
        }
        
        &.show { 
          right: 0px;
        }
        
        figure {
          float: left;
          margin: 1rem;
          margin-left: 0;
          max-width: 300px;
          display: inline-block;
          img {
            max-height: 600px;
          }
          figcaption {
            color: $background-color;
            font-size: 0.85rem;
          }
        }
      }
      
      &:hover {
        margin-left: 0.5rem;
        border-top: 0.5rem solid grey;
      }
      
    }
    
    &.right {
      margin-left: 1rem;
      display: inline-block;
      float: right;
    }
    
    figcaption {
      color: grey;
      font-size: 0.85rem;
    }
  }
  
  p.sidenote {
    width: 150px;
    margin-top: 50px;
    margin-left: -180px;
    float: left;
    text-align: right;
    font-size: 0.85rem;
    line-height: 1.5;
    font-family: Arial, sans-serif;
  }
  
  h1.title {
    visibility: hidden;
  }
  
  blockquote {
    float: left;
    max-width: 600px;
    margin: 2rem 4rem;
    margin-left: -200px;
    color: $grey-color-dark;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 1.5rem;
    letter-spacing: -1px;
    font-style: italic;
    
    span.quoteby {
      display: block;
      font-size: 1.2rem;
      text-align: right;
      color: $grey-color;
    }

    > :last-child {
        margin-bottom: 0;
    }
  }
  
  @include media-query($on-palm) {
    &, &.post {
      padding: 0px 50px;
    }
    figure,
    blockquote,
    p.sidenote,
    figure.sidebar {
      clear: both;
      display: block;
      width: 100%;
      margin: 1rem auto;
    }
  }
}

div.landing-photo {
  background-image: url("http://img.hqhdwalls.com/uploads/wallpaper/files/kit/kitten-wallpaper-53cee1ed3b06d.jpg");
  height: 100vh;
  width: 100%;
  position: absolute;
  top:0;
  background-size: cover;
  background-position: top center;
}

div.landing {
    background-color: rgba(256,256,256,0.75);
    text-align: center;
    margin: auto;
    padding-top: 23vh;
    height: 77vh;
    
    h1 {
      font-size: 5.5rem;
      font-weight: 900;
    }
    
    .bob {
      font-size: 0.95rem;
    }
    
    span.db,
    span.share {
      position: absolute;
      top: 1rem;
    }
    
    span.db {
      left: 2.5rem;
    }
    
    span.share {
      right: 2.5rem;
      
      i { margin-left: 0.35rem; }
    }
    
    p {
      max-width: 800px;
      margin: auto;
      margin-top: 1.5rem;
    }
    
    p.more a {
      display: inline-block;
      border: thin solid $brand-color;
      width: auto;
      padding: 0.5rem 1rem;
      margin: 1.2rem;
    }
    
    p.more:hover a {
      background-color: $brand-color;
      color: white;
      text-decoration: none;
    }
}

nav.next-prev {
  display: block;
  margin: 2rem;
  overflow: auto;
  
  a { 
    color: #666; 
    width: 30%;
    transition: 0.2s all;
    &:hover {
      border: none;
      color: #333;
      &.next { border-right: solid 5px $brand-color; }
      &.prev { border-left: solid 5px $brand-color; }
    }
  }
  h2 {
    font-size: 1.5rem;
    line-height: 1.2;
    font-family: $base-serif-font-family;
    margin: 0.75rem 0;
    &.column { font-style: italic; }
  }
  a.next {
    float: right;
    text-align: left;
  }
  a.prev {
    float: left;
    text-align: right;
  }
  p {
    font-size: 0.8rem;
    &.arrow {
      text-transform: uppercase;
      font-family: $base-sans-font-family;
      margin: 0;
    }
  }
}

iframe.box-embed {
  width: 90%;
  min-height: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

footer {
  max-width: 650px;
  margin: auto;
  margin-bottom: 2rem;
  padding-top: 2rem;
  border-top: thin solid lightgrey;
  font-size: 0.75rem;
  text-align: center;
}
