<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    
    {% include header.html %}
    
    <div id="overlay"></div>
    
    <nav class='anchorific {{ page.type }}'></nav>
    
    {% if page.timeline %}
    <div id="timeline" data-stellar-ratio="0.8"></div>
    <script src="{{ "/js/timeline.js" | prepend: site.baseurl }}"></script>
    <script>
    $(document).ready(function() {
      timeline('#timeline', '{{page.timeline}}', $('article').height()*0.75);
    });
    $.stellar({
      horizontalScrolling: false,
      hideDistantElements: false
		});
    </script>
    {% endif %}
    
    {% if page.featured-image %}
    <section id="featured-image" class="featured-image" style="background-image:url('{{ page.featured-image }}')">
        <div class="featured-text {{ page.type }}">
            <span class="chapter">Chapter {{ page.chapter }}</span>
            {% if page.title %}
                <h1>{{ page.title }}</h1>
            {% endif %}
            <div class="byline">
              {% for byline in page.bylines %}
                  <p>{{ byline }}</p>
              {% endfor %}
              ■
            </div>
            <p class="date">{{ page.date | date: '%B %d, %Y' }}</p>
            <a class="down" href="#start">
              <p><i class="fa fa-angle-down"></i></p>
            </a>
        </div>
    </section>
    {% endif %}
    
    <article id="start" class="post">
        <h1 class="title">{{ page.title }}</h1>
        
        {% if page.sidenote %}
            <p class="sidenote">{{ page.sidenote }}</p>
        {% endif %}
      
        {{ content }}
    
    </article>
    
    <nav class="next-prev">
      {% for post in site.posts reversed %}
          {% if post.url == page.url %}
              {% assign post_index = forloop.index %}
          {% endif %}
      {% endfor %}
      {% for post in site.posts reversed %}
          {% if forloop.index < post_index and post.type != 'sidebar' %}
              {% assign prev_post = post %}
          {% endif %}
          {% if forloop.index > post_index and post.type != 'sidebar' %}
              {% assign next_post = post %}
              {% break %}
          {% endif %}
      {% endfor %}
      {% if prev_post %}
      <a class="prev" href="{{ prev_post.url | prepend: site.baseurl }}">
        <p class="arrow">← previous</p>
        <h2 class="{{ prev_post.type }}"> {{ prev_post.title }}</h2>
        <p>{{ prev_post.description }}</p>
      </a>
      {% endif %}
      {% if next_post %}
      <a class="next" href="{{ next_post.url | prepend: site.baseurl }}">
        <p class="arrow">next →</p>
        <h2 class="{{ next_post.type }}">{{ next_post.title }} </h2>
        <p>{{ next_post.description }}</p>
      </a>
      {% endif %}
    </nav>
      
    {% include footer.html %}
    
    <script>
      $('article').anchorific({
        anchorText: '',
        spyOffset: 70
      });
    </script>
    
    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>
    
    <script>
      $(document).click(function(e) { 
        if ( e.target.id == 'post-menu' || $('#post-menu').has(e.target).length > 0
              || $('#drop').height() == 0) {
          return true;
        } else {
          $('#drop').height(0);
        }
      });
      
      $('figure.sidebar').click(function() {
        $(this).children('section.sidebar').toggleClass('show');
        $('#overlay').toggleClass('show');
        $('#timeline').toggleClass('hide');
      });
      $('#overlay').click(function() {
        $('section.sidebar').removeClass('show');
        $('#overlay').removeClass('show');
        $('#timeline').removeClass('hide');
      });
    </script>
    
  </body>

</html>
