<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    
    {% include header.html %}
    
    <nav class='anchorific'></nav>
    
    {% if page.featured-image %}
    <section id="featured-image" class="featured-image" style="background-image:url('{{ page.featured-image }}')">
        <div class="featured-text {{ page.type }}">
            <span class="chapter">Chapter {{ page.chapter }}</span>
            {% if page.title %}
                <h1>{{ page.title }}</h1>
            {% endif %}
            {% for byline in page.bylines %}
                <p class="byline">{{ byline }}</p>
            {% endfor %}
            <a class="down" href="#start"><i class="fa fa-angle-down"></i></a>
        </div>
    </section>
    {% endif %}
    
    <article id="start">
        {% if page.sidenote %}
            <p class="sidenote">{{ page.sidenote }}</p>
        {% endif %}
      
        {{ content }}
    
    </article>
      
    {% include footer.html %}
    
    <script>
      $('article').anchorific({
        anchorText: '',
        spyOffset: 70
      });
    </script>
    
    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>
    
  </body>

</html>
