<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    
    {% include header.html %}
    
    <div id="overlay"></div>
    
    <div class="sub-nav">
      <nav class='anchorific {{ page.type }}'></nav>
      <span class="share">
        <a href="http://www.facebook.com/sharer.php?u={{ page.url }}"><i class="fa fa-facebook"></i></a>
        <a href="http://twitter.com/share"><i class="fa fa-twitter"></i></a>
        <a href="http://www.reddit.com/submit?url={{ page.url | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-reddit"></i></a>
      </span>
    </div>
    
    {% if page.timeline %}
    <div id="timeline"></div>
    <script src="{{ "/js/timeline.js" | prepend: site.baseurl }}"></script>
    <script>
    $(document).ready(function() {
      timeline('#timeline', '{{page.timeline}}', $('article').height()*0.75);
    });
    $(window).scroll(function () { 
       $('#timeline').css({
          'top' : -($(this).scrollTop()/4*3)+"px"
       }); 
    });
    </script>
    {% endif %}
    
    {% if page.featured-image %}
    <section id="featured-image" class="featured-image {{ page.featured-class }}" style="background-image:url('{{ page.featured-image | prepend: site.baseurl }}')">
        <div class="featured-text">
            <span class="chapter">
              Chapter {{ page.chapter }} of <a href="{{ site.baseurl | prepend: site.url }}">{{ site.title }}</a>
            </span>
            {% if page.title %}
                <h1>{{ page.title }}</h1>
            {% endif %}
            {% if page.description %}
                <p class="description">{{ page.description }}</p>
            {% endif %}
            {% for byline in page.bylines %}
                <span class="byline">{{ byline }} ■ </span>
            {% endfor %}
            <span class="date">{{ page.date | date: '%B %d, %Y' }}</span>
        </div>
    </section>
    {% endif %}
    
    <article class="post">
        {% if page.featured-caption %}
          <p class="featured-caption">{% if page.featured-class != "special" %}<b>Above:</b>{% endif %}
            {{ page.featured-caption }}</p>
        {% endif %}
        
        <h1 id="start" class="title">{{ page.title }}</h1>
        
        {% if page.editorsnote %}
            <div class="editorsnote">
              <p class="title">Editor's Note</p>
              <div class="editorstext"> {{ site.editorsnote }} </div>
            </div>
        {% endif %}
        
        {% if page.sidenote %}
            <p class="sidenote">{{ page.sidenote }}</p>
        {% endif %}
      
        {{ content }}
    
    </article>
    
    <nav class="next-prev">
      {% for post in site.posts reversed %}
          {% if post.url == page.url %}
              {% assign post_index = forloop.index %}
          {% endif %}
      {% endfor %}
      {% for post in site.posts reversed %}
          {% if forloop.index < post_index and post.type != 'sidebar' and post.type != 'graphic' and post.publish %}
              {% assign prev_post = post %}
          {% endif %}
          {% if forloop.index > post_index and post.type != 'sidebar' and post.type != 'graphic' and post.publish %}
              {% assign next_post = post %}
              {% break %}
          {% endif %}
      {% endfor %}
      {% if prev_post %}
      <a class="prev" href="{{ prev_post.url | prepend: site.baseurl }}">
        <p class="arrow">← previous</p>
        <h2 class="{{ prev_post.type }}"> {{ prev_post.title }}</h2>
        <p>{{ prev_post.description }}</p>
      </a>
      {% endif %}
      {% if next_post %}
      <a class="next" href="{{ next_post.url | prepend: site.baseurl }}">
        <p class="arrow">next →</p>
        <h2 class="{{ next_post.type }}">{{ next_post.title }} </h2>
        <p>{{ next_post.description }}</p>
      </a>
      {% endif %}
    </nav>
      
    {% include footer.html %}
    
    <script>
      $('article').anchorific({
        anchorText: '',
        spyOffset: 70
      });
    </script>
    
    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top - (50 * (target.selector=="#start" ? 0 : 1))
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>
    
    <script>
      $(document).click(function(e) { 
        if ( e.target.id == 'post-menu' || $('#post-menu').has(e.target).length > 0
              || $('#drop').height() == 0) {
          return true;
        } else {
          $('#drop').height(0);
        }
      });
      
      $('#post-menu-trigger').mouseenter( function() {
        $('nav.posts').height($('nav.posts ul').height()+20);
      });
      
      $('#post-menu').mouseleave( function() {
        $('nav.posts').height(0);
      });
      
      $('figure.sidebar').click(function() {
        $(this).children('section.sidebar').toggleClass('show');
        $('#overlay').toggleClass('show');
        $('#timeline').toggleClass('hide');
        document.body.style.overflow = $('body').css('overflow') == 'hidden' ? 'auto' : 'hidden';
      });
      $('#overlay').click(function() {
        $('section.sidebar').removeClass('show');
        $('#overlay').removeClass('show');
        $('#timeline').removeClass('hide');
        document.body.style.overflow='auto';
      });
    </script>
    
    {% if page.featured-class == "special" %}
    <script>
      $('header').hide();
      $('div.sub-nav').hide();
      $(window).scroll(function () {
          var $this = $(this);
          if ($this.scrollTop() > $('.featured-image').height()) {
            $('header').show();
            if ($window.width() > 1250) {
              $('div.sub-nav').show();
            }
          } else {
            $('header').hide();
            $('div.sub-nav').hide();
          }
      });
      $(window).resize(function () {
          var $this = $(this);
          if ($this.scrollTop() > $('.featured-image').height()) {
            $('header').show();
            if ($window.width() > 1250) {
              $('div.sub-nav').show();
            }
          } else {
            $('header').hide();
            $('div.sub-nav').hide();
          }
      });
    </script>
    {% endif %}
    
  </body>

</html>
